@import '~assets/theme/color/index';

.btn {
    font-size:13px;
    color: #979797;
    font-weight: 500;
    cursor:pointer;
    text-decoration: none;
    &:hover {
        color: map_get($mat-blue, 500);
        transition: all 0.5s;
    }
    .mat-icon {
        height: 13px;
        width:13px;
        font-size:15px;
    }
}
